#faq-index.d-flex.justify-content-center.mx-auto
  .content
    %h4.my-4.text-center= t('faq')

    #faq.accordion
      = render 'home/faq/question_1'
      = render 'home/faq/question_2'
      = render 'home/faq/question_3'
      = render 'home/faq/question_4'
      = render 'home/faq/question_5'
      = render 'home/faq/question_6'
      = render 'home/faq/question_7'
