.introduction.intro-layout.d-flex
  .d-flex.flex-column.mr-5
    %h5.title= t('introduction.the_digital_scorecard_app')
    .description
      = t('introduction.digital_scorecard_introduction').html_safe

    .d-flex.justify-content-center.download-wrapper
      .d-flex.flex-column.align-items-center
        .download-title.flex-grow-1= t('introduction.download_available')

        %a.play-store{href: 'https://play.google.com/store/apps/details?id=org.instedd.ilabsea.community_scorecard', target: '_blank'}
          = image_tag 'play_store.png'

      %div.qr-code-wrapper.ml-4
        = image_tag 'qr_code.png'

  .d-flex
    %div.divices-wrapper
      = image_tag 'devices.png'
