.stakeholder-wrapper.my-3.mx-auto
  .content.mx-auto.stakeholders{style: 'background-color: rgba(0, 0, 0, 0.16); border-radius: 3px;'}
    .d-flex.justify-content-center
      .funded-by.text-center
        .funded-by-title.mb-2
          = t('stakeholder.funded_by')

        = link_to 'https://eeas.europa.eu/delegations/cambodia_en', target: '_blank' do
          = image_tag 'eu.png', class: 'img-funded', alt: 'EU Cambodia'

      .implemented-by.mx-3.d-flex.flex-column
        .implemented-by-title.mb-2
          = t('stakeholder.implemented_by')

        .d-flex.align-items-center.flex-grow-1
          = link_to 'https://www.care-cambodia.org/', target: '_blank' do
            = image_tag 'care_logo.png', class: 'img-implemented care', alt: 'Care'

          = link_to 'https://apiinstitute.org/', target: '_blank' do
            = image_tag 'api.png', class: 'img-implemented api', alt: 'API'

          = link_to 'http://ilabsoutheastasia.org', target: '_blank' do
            = image_tag 'instedd-ilabsea.png', class: 'img-implemented instedd', alt: 'InSTEDD iLabSEA'
