.d-flex.justify-content-center.top-bar
  .content.d-flex.flex-grow-1.align-items-center
    .flex-grow-1
      = link_to root_url do
        = image_tag 'logo.png', class: 'logo'

    .faq-link
      = link_to "FAQ", faq_index_path, class: 'btn text-white'

    / Switch language
    #switch-language.btn-group
      %a#messagesDropdown.nav-link.dropdown-toggle.pe-0{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button", href: '#'}
        - language = { en: "english.png", km: "khmer.png" }
        = image_tag language[I18n.locale], alt: "locale", size: "24x24"
        %span.ms-1= t("language.#{I18n.locale}")
        %i.fas.fa-angle-down.fa-fw

      %ul.dropdown-menu.dropdown-menu-end
        %li
          = link_to url_for(request.query_parameters.merge(locale: 'km')), class: 'switch-language dropdown-item d-flex align-items-center' do
            .dropdown-list-image.me-3
              = image_tag "khmer.png", alt: "locale", size: "24x24", class: "me-2"

            .font-weight-bold
              .km-font.text-truncate= t('language.km')
        %li
          = link_to url_for(request.query_parameters.merge(locale: 'en')), class: 'switch-language dropdown-item d-flex align-items-center' do
            .dropdown-list-image.me-3
              = image_tag "english.png", alt: "locale", size: "24x24", class: "me-2"
            .font-weight-bold
              .en-font.text-truncate= t('language.en')
