.d-flex.my-4.mx-auto.introduction.justify-content-between
  = link_to t('shared.back'), root_path, class: 'invisible'
  = link_to t('shared.sign_in'), ENV['SIGN_IN_URL'], target: '_blank', class: 'btn btn-primary'

.row
  .col-md-12
    .text-center
      = image_tag 'csc_logo.png', size: '120x120', alt: "CSC logo", class: 'rounded-xl'

.d-flex.justify-content-center.mt-4.mb-3.mx-auto.introduction
  %h5{ style: "line-height: 1.5em"}
    កម្មវិធីប័ណ្ណដាក់ពិន្ទុឌីជីថល ត្រូវបានបង្កើតឡើងដោយមានការគាំទ្រមូលនិធិពីសហភាពអឺរ៉ុប អនុវត្តដោយអង្គការឃែរកម្ពុជា វិទ្យាស្ថានគោលនយោបាយនិងតស៊ូមតិ និងអង្គការ InSTEDD នៃគម្រោង “គាំទ្រការចូលរួមរបស់ប្រជាពលរដ្ឋប្រកបដោយអត្ថន័យតាមរយៈការប្រើប្រាស់បច្ចេកវិទ្យាឌីជីថល ដើម្បីធ្វើឱ្យប្រសើរឡើងនូវគណនេយ្យភាពសង្គម (Ref: ISAF-II)”។

    ប្រជាពលរដ្ឋ អង្គការដៃគូ និងមន្រ្តីរដ្ឋាភិបាលប្រើប្រាស់កម្មវិធីនេះដើម្បីលើកកម្ពស់ការចូលរួម និងកិច្ចជជែកពិភាក្សារបស់ពួកគេ ក្នុងការធ្វើឱ្យប្រសើរឡើងនូវសេវាសាធារណៈ។

.d-flex.justify-content-center.mb-4.mx-auto.introduction.text-center
  The digitised scorecard app development is funded by the EU, implemented by CARE, API and InSTEDD iLab Southeast Asia under the project “supports civic engagement and improves social accountability by leveraging digital technologies (Re: ISAF-II)”.

  The community members, local NGO partners and governmental officials use the app to enhance their participation and dialogue with regards to public services improvement.

.d-flex.justify-content-between.my-5.mx-auto.introduction
  .learn-more
    %h5.text-center.font-weight-normal
      %span= "អាចស្វែងយល់បន្ថែមនៅលើ FAQs ដោយគ្រាន់តែចុច"
      %span= link_to 'នៅទីនេះ', faq_path
      %span= ". សម្រាប់គម្រោងដែលមានបំណងចង់ស្វែងយល់បន្ថែមសូមទាក់ទងមកយើងតាមរយៈ "
      = mail_to 'support@digital-csc.org'
    %h6.text-center.font-weight-normal
      %span= "To learn more from our FAQs, click "
      %span= link_to 'here', faq_path
      %span= ". For projects that willing to find out more, please reach us out via: "
      .text-nowrap= mail_to 'support@digital-csc.org'

.introduction.mx-auto
  .stackholders.d-flex.justify-content-between.stackholders-lg
    .funded-by.text-center.flex-shrink-0
      %p.text-center.text-funded
        គាំទ្រមូលនិធិដោយ / Funded by

      = link_to 'https://eeas.europa.eu/delegations/cambodia_en', target: '_blank' do
        = image_tag 'eu.png', class: 'img-funded', alt: 'EU Cambodia'

    .implemented-by
      %p.text-center.text-implemented
        អនុវត្តដោយ / Implemented by
      .d-flex.mt-4.mt-sm-0.align-items-center.justify-content-center.flex-column.flex-md-row.flex-md-wrap.img-implemented-wrapper
        = link_to 'https://www.care-cambodia.org/', target: '_blank' do
          = image_tag 'care_logo.png', class: 'img-implemented', alt: 'Care'

        = link_to 'https://apiinstitute.org/', target: '_blank' do
          = image_tag 'api.png', class: 'img-implemented', alt: 'API'

        = link_to 'http://ilabsoutheastasia.org', target: '_blank' do
          = image_tag 'instedd-ilabsea.png', class: 'img-implemented', alt: 'InSTEDD iLabSEA'


%div{ style: "height: 200px"}
