= render 'background'
= render 'top_header'
= render 'introduction'

.introduction.mx-auto
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "900", :src => "https://datastudio.google.com/embed/reporting/316c83c7-635e-4bd4-9fa7-d1e72ffd262b/page/p_2f0jzrbctc", :style => "border:0", :width => "900"}

= render 'stakeholder'
= render 'faq'

.sidebar-left
  = render 'social_share'
