.accordion-item.mb-2.shadow.border
  = render 'home/faq/question', target: 'Two', question: t('question.why_should_i_use_digital_scorecard')

  #collapseTwo.accordion-collapse.collapse{"aria-labelledby" => "headingTwo", "data-bs-parent" => "#faq"}
    .faq-body
      = t('answer.q2.digital_scorecard_was_designed').html_safe

      %ul
        %li= t('answer.q2.it_provide_flexibility').html_safe
        %li= t('answer.q2.it_support_khmer_language').html_safe
        %li= t('answer.q2.it_come_with_dashboard').html_safe

      = link_to t('answer.q2.see_here_videos'), "https://www.youtube.com/playlist?list=PLOpKUpKkRrQuWggZRMSIjgAjixiZhXT-j", target: '_blank'

      %span= t('answer.q2.about_digital_scorecard').html_safe
