!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= ENV['APP_NAME']
    %meta{:content => "width=device-width,initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = display_meta_tags SocialMetaTag.to_meta_tags

    = csrf_meta_tags
    = csp_meta_tag

    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css", :rel => "stylesheet"}

    = analytics_init if Setting.analytics_valid?
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = favicon_link_tag asset_path('favicon.png')

    = Gon::Base.render_data

  %body{ id: "#{controller_name}-#{action_name}", class: "content-#{I18n.locale}"}
    .content-wrapper
      = render 'shared/background'
      = render 'shared/top_header'

      = yield

      / Social share for mobile
      .content.content-mobile
        = render 'shared/social_share'

      / Footer
      = render 'shared/footer'

      / Social share for desktop
      .sidebar-left
        = render 'shared/social_share'

      / Feeback button
      = render "shared/feedback_button"
